@tailwind base;
@tailwind components;
@tailwind utilities;
 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a.active{
    color:#EDA415 !important;
}
a.active span{
    color:aliceblue;
}
.slick-next{
    right: 0px !important;
}
.slick-dots{
    bottom:65px !important; 
}
.slick-dots li button:before{
    font-size: 16px !important; 
}
.slick-dots li.slick-active button:before{
    color:#EDA415 !important;
}
.slick-prev, .slick-next{
    width: 30px !important;
    height: 30px !important;
    color:#EDA415 !important;
}

.popularBox:hover .titlePrice{
    opacity: 0;
}
.popularAddCart{
    position: absolute;
    bottom: 40px;
    opacity: 0;
}
.popularBox:hover .popularAddCart{
    opacity: 1;
}